.background-image {
    background-size:cover;
    background-position: bottom;
    min-height:50vw;
}

#join-us-container {
    background-image:linear-gradient(#fffc, #fffc), url('../resources/images/backgrounds/bkg1.jpg');
    margin-top:50px;
}

#about-icem-container {
    background-image:linear-gradient(#fffc, #fffc), url('../resources/images/backgrounds/bkg2.jpg');
}

#schedule-container {
    background-image:linear-gradient(#fffc, #fffc), url('../resources/images/backgrounds/bkg3.jpg');
}

#guidebook-container {
    background-image:linear-gradient(#fffc, #fffc), url('../resources/images/backgrounds/bkg4.jpg');
}

#payment-container {
    background-image:linear-gradient(#fffc, #fffc), url('../resources/images/backgrounds/bkg5.jpg');
}

#contact-container {
    background-image:linear-gradient(#fffc, #fffc), url('../resources/images/backgrounds/bkg6.jpg');
}