#main-page-image {
    margin-top:45px;
    background-image:url('../resources/images/main-image.png');
    background-size:cover;
    background-position-x:center;
    background-position-y:top;
    background-repeat:no-repeat;
    height:100%;
}

#main-page-image.sticky-menu {
    margin-bottom:110px;
}

@media (max-width:767px) {
    #main-page-image.sticky-menu {
        margin-bottom:80px;
    }
}