
#schedule-container #day-buttons {
    padding-right:0;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

#schedule-container .day-button {
    height:160px;
    width:160px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    color: white;
    background-size:contain;
    font-size:30px;
    background-repeat: no-repeat;
    background-position: center;
}

#schedule-container .day-button#button-friday {
    background-image:url('../resources/images/circles/circle3.png');
}

#schedule-container .day-button#button-saturday {
    background-image:url('../resources/images/circles/circle4.png');
}

#schedule-container .day-button#button-sunday {
    background-image:url('../resources/images/circles/circle2.png');
}

#schedule-container .day-button#button-friday,
#schedule-container .day-button#button-saturday,
#schedule-container .day-button#button-sunday {
    opacity:.5;
    text-shadow:initial;
    -webkit-transition: .3s; /* Safari */
    transition: .3s;
}

#schedule-container .day-button#button-friday:hover,
#schedule-container .day-button#button-saturday:hover,
#schedule-container .day-button#button-sunday:hover {
    opacity:.8;
}

#schedule-container .day-button#button-friday.active,
#schedule-container .day-button#button-saturday.active,
#schedule-container .day-button#button-sunday.active {
    opacity:1;
    text-shadow:inherit;
    -webkit-transition: .3s; /* Safari */
    transition: .3s;
}


#schedule-container #schedule-content-saturday,
#schedule-container #schedule-content-sunday {
    display: none;
}

#schedule-container .schedule-day {
    padding-left:50px;
    display:flex;
}

#schedule-container .table-day {
    width:100%;
    border-collapse:collapse;
}

#schedule-container .table-day * {
    font-size:25px;
}

@media (max-width:767px) {
    #schedule-container #day-buttons {
        flex-direction:row;
        height:150px;
        margin-bottom:20px;
    }

    #schedule-container .schedule-day {
        padding-left:0;
        padding-right:0;
    }
}

@media (min-width:401px) and (max-width:450px) {
    #schedule-container .day-button {
        font-size:25px;
    }
}

@media (max-width:400px) {
    #schedule-container .day-button {
        font-size:20px;
    }
}

#schedule-container .table-day tr {
    border:none;
}

#schedule-container .table-day td {
    text-align:center;
    padding:5px;
}

#schedule-container .table-day .hour {
    text-align:right;
    width: 1px;
    padding-right: 15px;
}

#schedule-container #schedule-content-friday .table-day td {
    border-color:#4d439766;
}

#schedule-container #schedule-content-friday .table-day .check-in {
    background:#4d439766;
}

#schedule-container #schedule-content-friday .table-day .auschwitz,
#schedule-container #schedule-content-friday .table-day .bbq {
    background:#435ca966;
}

#schedule-container #schedule-content-friday .table-day .party {
    background:#3485c666;
}

#schedule-container #schedule-content-saturday .table-day td {
    border-color:#55822f66;
}

#schedule-container #schedule-content-saturday .table-day .breakfast {
    background:#55822f66;
}

#schedule-container #schedule-content-saturday .table-day .rally {
    background:#74972b66;
}

#schedule-container #schedule-content-saturday .table-day .cruise {
    background:#8eaa2766;
}

#schedule-container #schedule-content-saturday .table-day .dinner {
    background:#b0c12366;
}

#schedule-container #schedule-content-sunday .table-day td {
    border-color:#dfac1366;
}

#schedule-container #schedule-content-sunday .table-day .check-out {
    background:#dfac1366;
}

#schedule-container #schedule-content-sunday .table-day .wawel {
    background:#d4c81b66;
}


#schedule-container #schedule-content-friday .table-day td:nth-child(3) {
    width:60%;
}

#schedule-container .table-day .top {
    border-top-style: solid;
    border-top-width: 2px;
}

#schedule-container .table-day .right {
    border-right-style: solid;
    border-right-width: 2px;
}

#schedule-container .table-day .bottom {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#schedule-container .table-day .left {
    border-left-style: solid;
    border-left-width: 2px;
}


#schedule-container .table-day .separator {
    padding:0;
    width:0;
}